<div class="row background-projects">
    <h1>Portfolio of Projects</h1>
    <h4>click on the name of the project to view more</h4>
    <div class="row project-display">
        <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-1">
            <h2> <a href="/#/run" target="_blank">girl on purpose:</a></h2>
            <p>girl on purpose is a fully-responsive blog i made for the women's ministry team at Northpoint Community Church. the goal of the blog is to empower, encourage, and educate women. per client request, it was created using wordpress.</p>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-lg-5 col-lg-offset-1">
            <a href="http://www.girlonpurpose.com" target="_blank"><img class="img-responsive project-images" src="/images/portfolio-screenshots/girl-on-purpose-screenshots/Screen%20Shot%202018-01-11%20at%2010.32.48%20AM.png"></a>
            <p>girlonpurpose.com is live. click <a href="http://www.girlonpurpose.com" target="_blank">here</a> to experience it check it out;</p>
        </div>
    </div>
    <div class="row project-display">
        <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-1">
            <h2> <a href="/#/haiku" target="_blank">exploreHaiku:</a></h2>
            <p>Inspired by the film <i>hunt for the wilderpeople</i> exploreHaiku is a <b>full-stack</b> app where people can create, save, and share haiku. Along with <b>CSS</b> and <b>Bootstrap</b>, I used <b>Angular</b> and <b>Mongodb</b> to create this responsive app with user authentication.</p>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-lg-5 col-lg-offset-1">
            <a href="http://haiku.lucymaude.life/#/home" target="_blank"><img class="img-responsive project-images" src="/images/portfolio-screenshots/haiku-screenshots/home-page.png"></a>
            <p>exploreHaiku has also been deployed, click <a href="https://haiku.lucymaude.life/#/home" target="_blank">here</a> to experience it first-hand; </p>
        </div>
    </div>
    <div class="row project-display">
        <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-1">
            <h2> <a href="/#/run" target="_blank">runability:</a></h2>
            <p>runability is a <b>full-stack</b> app i made to help aspiring runners like myself train for their upcoming race(s). I used <b>Mongodb</b> and <b>Express</b> to give the user the ability to log-in and create training schedules for their upcoming races.</p>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-lg-5 col-lg-offset-1">
            <a href="http://runability.lucymaude.life/#/home" target="_blank"><img class="img-responsive project-images" src="/images/portfolio-screenshots/runability-screenshots/login.png"></a>
            <p>runability has been deployed! you can click <a href="http://runability.lucymaude.life/#/home" target="_blank">here</a> to take a look; </p>
        </div>
    </div>
    <div class="row project-display">
        <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-1">
            <h2> <a href="/#/rock" target="_blank">rock-the-vote:</a></h2>
            <p>I created this fun <b>static</b> app as a project for class. I used a lot of <b>CSS</b> stylings to give rock-the-vote an extra patriotic theme. Users can submit an issue to be voted/commented on by their peers and issues will display in order by least number of votes. To make sure these issues persisted a page-refresh, I used <b>express</b> and <b>nodejs</b>.</p>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-lg-5 col-lg-offset-1">
            <a href="/#/rock" target="_blank"><img class="img-responsive project-images" src="/images/portfolio-screenshots/rockVote-screenshots/Screen%20Shot%202017-05-02%20at%2010.58.57%20AM.png"></a>
        </div>
    </div>
    <div class="row project-display">
        <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-1">
            <h2> <a href="/#/api" target="_blank">apiofthrones:</a></h2>
            <p>apiofthrones is an app that displays information about the book/tv series Game of Thrones. It was created to demonstrate my understanding of <b>a.p.is</b>, and have some fun with styling. the user can see information about the different "houses" and characters within the world created by George R. R. Martin, and even includes a <b>fun quiz</b> that i made!</p>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-lg-5 col-lg-offset-1">
            <a href="/#/api" target="_blank"><img class="img-responsive project-images" src="/images/portfolio-screenshots/ice-and-fire-screenshots/house.png"></a>
        </div>
    </div>
</div>
<div class="row small-home small-contact">
    <div class="small-words small-words-contact"><a href="/#/contact">contact</a></div>
</div>
<div class="row small-home small-about">
    <div class="small-words small-words-about"><a href="/#/about" ng-click="aboutChange()">about</a></div>
</div>
<div class="row small-home small-skills">
    <div class="small-words small-words-skills"><a href="/#/skills" ng-click="skillsChange()">skills</a></div>
</div>