<div class="row triangles"></div>
<div class="row small-home small-about">
    <div class="small-words small-words-about"><a href="/#/about" ng-click="aboutChange()">about</a></div>
</div>
<div class="row small-home small-skills">
    <div class="small-words small-words-skills"><a href="/#/skills" ng-click="skillsChange()">skills</a></div>
</div>
<div class="row small-home small-projects">
    <div class="small-words small-words-projects"><a href="/#/projects" ng-click="projectsChange()">projects</a></div>
</div>
<div class="row small-home small-contact">
    <div class="small-words small-words-contact"><a href="/#/contact">contact</a></div>
</div>

<div class="words words-about"><a href="/#/about" ng-click="aboutChange()">about</a></div>
<div class="words words-skills"><a href="/#/skills" ng-click="skillsChange()">skills</a></div>
<div class="words words-projects"><a href="/#/projects" ng-click="projectsChange()">projects</a></div>
<div class="words words-contact"><a href="/#/contact">contact</a></div>

