<div class="row background-contact">
    <div class="col-xs-12 col-lg-12">
        <div class="row top-contact">
            <div class="col-xs-12 col-lg-12">
                <div class="row top-contact">
                    <div class="col-lg-4 col-lg-offset-4">
                        <h1>Contact</h1>
                    </div>
                </div>
                <div class="row phone-contact">
                    <div class="col-xs-12 col-lg-4 col-lg-offset-4">
                        <a href="tel:1-203-561-7274" class="fa fa-phone awesome"></a>
                        <a href="tel:1-203-561-7274" class="awesome-text">203-561-7274</a>
                    </div>
                </div>
                <div class="row email-contact">
                    <div class="col-xs-12 col-lg-4 col-lg-offset-4">
                        <a href="mailto:sarahlucymaude@gmail.com" class="fa fa-envelope awesome"></a>
                        <a href="mailto:sarahlucymaude@gmail.com" class="awesome-text">sarahlucymaude@gmail.com</a>
                    </div>
                </div>
                <div class="row linkedin-contact">
                    <div class="col-xs-12 col-lg-4 col-lg-offset-4">
                        <a href="https://www.linkedin.com/in/lmaude/" class="fa fa-linkedin awesome"></a>
                        <a href="https://www.linkedin.com/in/lmaude/" class="awesome-text">linkedin.com/in/lmaude</a>
                    </div>
                </div>
                <div class="row github-contact">
                    <div class="col-xs-12 col-lg-4 col-lg-offset-4">
                        <a href="https://github.com/LucyMaude" class="fa fa-github awesome"></a>
                        <a href="https://github.com/LucyMaude" class="awesome-text">github.com/LucyMaude</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    <div class="row small-home small-about">
    <div class="small-words small-words-about"><a href="/#/about" ng-click="aboutChange()">about</a></div>
</div>
<div class="row small-home small-skills">
    <div class="small-words small-words-skills"><a href="/#/skills" ng-click="skillsChange()">skills</a></div>
</div>
<div class="row small-home small-projects">
    <div class="small-words small-words-projects"><a href="/#/projects" ng-click="projectsChange()">projects</a></div>
</div>
