<div class="row background-about">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
        <div class="row headshot-row">
            <img class="img-responsive headshot" src="/images/aprilheadshot17-9%20copy.jpg">
        </div>
        <div class="row">
            <p class="top-p">
                Lucy Maude specializes in taking her client’s vision and turning it into a beautifully crafted website. As a freelance web developer, her experience in customer service, and her skill in Development, help her cultivate highly productive relationships with her clients, realize their goals, and deliver products in a timely, results-driven manner.
            </p>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-2">
        <div class="row">
            <p class="bottom-p">
                Lucy discovered her passion for tech while at the University of Richmond where for four years she worked in the University’s Technology Learning Center. She mastered the complexities of a prolific number of of software applications, and taught students, faculty, and staff to use them. After college, she worked in the financial aid department of another Virginia university for 2 years before deciding to further pursue her passion for development. </p>
            <p class="bottom-p">In 2017 she graduated from a high octane web development program before founding a successful website design and development business</p>
            <p class="bottom-p"> Lucy has a hunger for innovation and is recognized for her ability to quickly master new situations and information. Her personal motto has been Emerson’s “Do not go where the path may lead. Go instead where there is no path and leave a trail”. She has a rare knack for teaching, not only in the IT arena, but also with Spanish and music, two other passions in her life.
            </p>
            <p class="bottom-p about-interest"> If you are interested in working with Lucy, please <a href="/#/contact">contact</a> her to discuss your vision/requirement.
            </p>
        </div>
        <div class="row interest-row">

            <a href="/SarahLucyMaudeResume.pdf" class="btn interest-btn resume-btn">resume</a>

            <a href="https://www.linkedin.com/in/lmaude/" class="btn interest-btn linkedin-btn" target="_blank">linkedin</a>

            <a href="https://github.com/LucyMaude" class="btn interest-btn github-btn" target="_blank">github</a>

        </div>
    </div>
</div>
<div class="row small-home small-skills">
    <div class="small-words small-words-skills"><a href="/#/skills" ng-click="skillsChange()">skills</a></div>
</div>
<div class="row small-home small-projects">
    <div class="small-words small-words-projects"><a href="/#/projects" ng-click="projectsChange()">projects</a></div>
</div>
<div class="row small-home small-contact">
    <div class="small-words small-words-contact"><a href="/#/contact">contact</a></div>
</div>
