<div class="row background-skills">
    <div class="col-xs-12 col-lg-12">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-1">
                <div class="row skill-icon">
                    <div class="col-xs-4 col-xs-offset-1 col-lg-6 col-lg-offset-0">
                        <img class="img-responsive" src="/images/skill-icons/mongo-db.png" alt="">
                    </div>
                    <div class="col-xs-4 col-xs-offset-1 col-lg-6 col-lg-offset-0">
                        <h2>mongodb</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-2">
                <div class="row skill-icon">
                    <div class="col-xs-4 col-xs-offset-1 col-lg-6 col-lg-offset-0">
                        <img class="img-responsive" src="/images/skill-icons/angular.png" alt="">
                    </div>
                    <div class="col-xs-4 col-xs-offset-1 col-lg-6 col-lg-offset-0">
                        <h2>angularjs</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-1">
                <div class="row skill-icon">
                    <div class="col-xs-4 col-xs-offset-1 col-lg-6 col-lg-offset-0">
                        <img class="img-responsive" src="/images/skill-icons/nodejs-512.png" alt="">
                    </div>
                    <div class="col-xs-4 col-xs-offset-1 col-lg-6 col-lg-offset-0">
                        <h2>nodejs</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-2">
                <div class="row skill-icon">
                    <div class="col-xs-4 col-xs-offset-1 col-lg-6 col-lg-offset-0">
                        <img class="img-responsive" src="/images/skill-icons/js.png" alt="">
                    </div>
                    <div class="col-xs-4 col-xs-offset-1 col-lg-6 col-lg-offset-0">
                        <h2>javascript</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-1">
                <div class="row skill-icon">
                    <div class="col-xs-4 col-xs-offset-1 col-lg-6 col-lg-offset-0">
                        <img class="img-responsive" src="/images/skill-icons/expressjs.png" alt="">
                    </div>
                    <div class="col-xs-4 col-xs-offset-1 col-lg-6 col-lg-offset-0">
                        <h2>expressjs</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-2">
                <div class="row skill-icon">
                    <div class="col-xs-4 col-xs-offset-1 col-lg-6 col-lg-offset-0">
                        <img class="img-responsive" src="/images/skill-icons/Git-Icon-1788C.png" alt="">
                    </div>
                    <div class="col-xs-4 col-xs-offset-1 col-lg-6 col-lg-offset-0">
                        <h2>git</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-1">
                <div class="row skill-icon">
                    <div class="col-xs-4 col-xs-offset-1 col-lg-6 col-lg-offset-0">
                        <img class="img-responsive" src="/images/skill-icons/html5.png" alt="">
                    </div>
                    <div class="col-xs-4 col-xs-offset-1 col-lg-6 col-lg-offset-0">
                        <h2>HTML5</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-2">
                <div class="row skill-icon">
                    <div class="col-xs-4 col-xs-offset-1 col-lg-6 col-lg-offset-0">
                        <img class="img-responsive" src="/images/skill-icons/css.png" alt="">
                    </div>
                    <div class="col-xs-4 col-xs-offset-1 col-lg-6 col-lg-offset-0">
                        <h2>CSS3</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row small-home small-contact">
    <div class="small-words small-words-contact"><a href="/#/contact">contact</a></div>
</div>
<div class="row small-home small-projects">
    <div class="small-words small-words-projects"><a href="/#/projects" ng-click="projectsChange()">projects</a></div>
</div>
<div class="row small-home small-about">
    <div class="small-words small-words-about"><a href="/#/about" ng-click="aboutChange()">about</a></div>
</div>